.documents-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.documents-list::-webkit-scrollbar {
    width: 6px;
}

.documents-list::-webkit-scrollbar-thumb {
    background: var(--bs-secondary-color);
    border-radius: 3px;
}
